@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@300;400&display=swap');
@import "variables.scss";
html {
  background-color: $eerie-black;
  color: $dark-medium-gray;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  color: $tigers-eye;
}

p {
  line-height: 1.5;
  font-size: 1.3rem;
}

a {
  color: $tigers-eye;
  text-decoration: none;
}

.is-size-medium {
  font-size: 1.3rem;
}

.pages-container {
  width: 36rem;
  max-height: 36rem;
}

*:focus {
  outline: none;
}