@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@300;400&display=swap');
@import "variables.scss";
// ALL
html {
  background-color: $eerie-black;
  color: $dark-medium-gray;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 2.5rem;
  color: $tigers-eye;
}

p,
li {
  line-height: 1.5;
  font-size: 1.1rem;
}

a {
  color: $tigers-eye;
  text-decoration: none;
}

.is-size-medium {
  font-size: 1.3rem;
}

.pages-container {
  width: 36rem;
  max-height: 36rem;
}

*:focus {
  outline: none;
}

// BLOG PAGE
.post-list {
  &__post {
    border-bottom: 1px solid rgba(169, 169, 179, 0.3);
  }
  &__post-date {
    display: block;
    margin-bottom: 10px;
  }
  &__post-tag-group {
    display: block;
    margin-bottom: 30px;
  }
  &__post-tag {
    color: rgba($dark-medium-gray, .6);
  }
}

// MEDIA QUERY
@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }
}

// PRISMJS
:not(pre)>code[class*="language-"],
pre[class*="language-"] {
  border-radius: 5px;
}

.application-not-found {
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin-top: 120px;
  a {
    margin-top: 30px;
    display: block;
  }
}