html {
  background-color: #161e2b;
  color: #a9a9b3;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

p {
  line-height: 1.5;
  font-size: 1.3rem;
}

a {
  color: #4a4238;
  text-decoration: none;
}

.pages-container {
  width: 36rem;
  max-height: 36rem;
}